

h1{
    color: red;
    font-family: "Georgia",Serif;
    background-color: blue ;
    
    
}
h2 {
    color: black;
    font-family: "Verdana",Sans-serif;
    background-color: green; 
}
h3{
    color: black;
    font-family: "Monaco",Monospace;
    background-color: yellow; 
}